body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h1 {
    text-align: center;

}

#navbar {
    padding: 8px;
    margin: 0;
}

#logo {
    height: 30px;
}

#banner {
    width: 100%;
    object-fit: cover;

}

#about {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    padding: 8px;
}

#description {
    width: 50%;
    padding-right: 8px;
}

#team {
    width: 50%;
}

#team-image {
    border-radius: 10px;
    width: 100%;
}

.location {
    color: gray;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;

}

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}

.apply {
    float: right;
}

#footer {
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 30px;
    text-align: center;
}

#footer-links {
    list-style: none;

}

#footer-links li {
    display: inline;
    margin: 0 16px;
}

h3 {
    margin-bottom: 0;
    margin-top: 4px;
}

.copyright{
    color: gray;
}